@using System.Data.Entity
@using System.Runtime.Remoting.Services
@using System.Web.WebSockets
@using DegreePlanCollection.Models
@model DegreePlanCollection.Models.CollectDegreeViewModel


@{
    ViewBag.Title = "CollectCoreCourses";
}



<h2>CollectCoreCourses</h2>

<h3>@Model.CurrentDegree at @Model.School</h3>

@{string[] vals = Model.CurrentDegreeCourses.Split('|');
    <table>
    @foreach (var i in vals)
    {
        <tr>
            <td>
              @Html.Raw(i)
            </td>
        </tr>
    }
    </table>
}



@using (Html.BeginForm("AddCourseToList","CollectDegreePlan"))
{
    @Html.AntiForgeryToken()
    <input value="@Html.Raw(Model.CurrentCourse)" id="CurrentCourse" name="CurrentCourse"  class = "form-control"/>
    
    @Html.HiddenFor(m=>m.CurrentDegree)
    @Html.HiddenFor(m=>m.School)
    @Html.HiddenFor(m=>m.Schools)

    <input type="hidden" value="@Html.Raw(Model.CurrentDegreeCourses)" id="CurrentDegreeCourses" name="CurrentDegreeCourses" />
    

    <input type="submit" value="Add"/>


}   


@using (Html.BeginForm("CollectCourseInfo", "CollectDegreePlan"))
{

    @Html.AntiForgeryToken()


    <input type="hidden" value="@Html.Raw(Model.CurrentDegreeCourses)" id="CurrentDegreeCourses" name="CurrentDegreeCourses" />

    @Html.HiddenFor(m=>m.CurrentDegree)
    @Html.HiddenFor(m=>m.School)
   @Html.HiddenFor(m => m.CourseTimeInfo)





<input type="submit" value="Submit" />
}





